@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a flavor:</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.FlavorName)
        @Html.TextBoxFor(model => model.FlavorName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger" })
    </div>

    //<input type="submit" value="Save" class="btn btn-dark" />
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to List", "Index", "Flavors")</p>
