@{
    Layout = "_Layout";
}

@using PierreTreats.Models
@model PierreTreats.Models.Flavor

<h1>Add a flavor:</h1>

            
<div class="container">
    @using (Html.BeginForm())
        {
            <label class="form-label">@Html.DisplayNameFor(model => model.FlavorName)</label>
            @Html.TextBoxFor(model => model.FlavorName, new { @class = "form-control"})
            <p class= "text-danger"> @Html.ValidationMessageFor(model => model.FlavorName)</p>

    <button type="submit" class="btn btn-primary">Add a new Flavor</button>

}
</div>

<p>@Html.ActionLink("Back to Flavors", "Index", null, new { @class = "btn btn-secondary"})</p>
