@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Delete Flavor</h1>

<h2>Are you sure you want to delete @Html.DisplayFor(model =>model.FlavorName) ?</h2>


@using (Html.BeginForm())
{
    
    <input type="submit" value="Delete" class="button" />
}

<p>@Html.ActionLink("Back to Flavors", "Index")</p>
 
 