/* body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  font: black;
}

header {
  background-color: #0099cc;
  color: black;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
  color: black; 
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black; 
  transition: color 0.3s;
  font-weight: bold;
}
nav a:hover {
  color: #66c2ff;
}

.container {
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #0099cc;
  color: black;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}  */