/* 
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.back-link {
  margin-top: 10px;
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}


.btn:hover,
.back-link:hover {
  background-color: #0056b3;
}

.text-danger {
  color: red;
} */
