@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a flavor:</h1>

@using (Html.BeginForm())
{

    <h3>@Html.LabelFor(model => model.FlavorName)</h3>
    <h3>@Html.TextBoxFor(model => model.FlavorName)</h3>

    <input type="submit" value="save" class="btn btn-dark" />
}

<p>@Html.ActionLink("Back to List", "Index", "Flavors")</p>
