@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h1>Edit</h1>
<h2>Edit This Treat @Html.DisplayFor(model => model.TreatName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatName)
    @Html.EditorFor(model => model.TreatName)

    <input type="submit" value="save">
}

<p>@Html.ActionLink("Back to list", "Index", "Treats")</p>