@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Edit</h1>
<h2>Edit This Flavor @Html.DisplayFor(model => model.FlavorName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="save">
}

<p>@Html.ActionLink("Back to list", "Index", "Flavors")</p>