@{
    Layout = "_Layout";
}

@using PierreTreats.Models

<h1>Treats:</h1> 

<h2>No Treats have been added.</h2>

@foreach (Treat treat in Model)
{
    @Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })
}

<p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>
<p>@Html.ActionLink("Home", "Index")</p>